html {
  scroll-behavior: smooth;
}
.image-slide{
  width: 100%;
  height: 680px;
}

.inline-buttons .one-third {
    text-align: center;
}

@media only screen and (max-width: 1076px) {

    .inline-buttons .one-third {
        width: 100%;
        margin: 20px;
    }

}
